.b1-background {
    background-image: url('/image/background/Anhmemxanh.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b1-container {
    width: 95%;
}

.table-bordered {
    border: 2px solid red;
    border-collapse: collapse;
}

.table-bordered th,
.table-bordered td {
    border: 2px solid red;
}
