
@section Styles
{
    <link href="~/css/Page13.css" rel="stylesheet" />
}

<div class="b1-background">

    <div class="b1-container">
        <div class="d-flex justify-content-center gap-3 mt-3" style="height: 50px; margin-left: 100px;">

            <div class="navitem">
                bản đồ <span>kho báu</span>
            </div>

            <div class="navitem">
                Hiệu suất <span>công việc</span>
            </div>

            <div class="navitem">
                kết quả <span>thi đua</span>
            </div>

            <div class="navitem">
                Nhiện vụ và<span>liên lạc</span>
            </div>

            <div class="navitem">
                Tin tức <span>nội bộ</span>
            </div>

            <div class="navitem">
                Tranning
            </div>

            <div class="navitem">
                Bảng <span>thành tích</span>
            </div>

        </div>

        <div class="d-flex mt-3">
            <div class="col-3">

                <div class="redtext" style="font-size: 1.4em;"><span>> </span>nhiệm vụ</div>
                <div class="mt-2 redtext ms-5">ghi chú:</div>
                <div class="ms-5">
                    Chậm Dealine > Ô màu đỏ ><span class="redtext"> Trừ 50đ</span>
                </div>

            </div>

            <div class="col-8">
            
                <table class="table table-bordered mt-3">
                    <thead class="thead-light">
                        <tr>
                            <th class="labelblacktext" style="background-color: #afd9fb;">Nhiệm vụ</th>
                            <th class="labelblacktext" style="background-color: #8bb7f0;">Deadline</th>
                            <th class="labelblacktext" style="background-color: #8bb7f0;">Tình trạng hoàn thành</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="blacktext">Hoàn thành video traning</td>
                            <td>
                                <div class="d-flex justify-content-center gap-2">

                                    <div style="font-size: 1.2em;">
                                        <i class="fa-regular fa-clock"></i>
                                    </div>

                                    <div class="blacktext">
                                        1/10/2024
                                    </div>

                                </div>
                            </td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="blacktext">tăng cường thêm ca 7h</td>
                            <td>
                                <div class="d-flex justify-content-center gap-2">

                                    <div style="font-size: 1.2em;">
                                        <i class="fa-regular fa-clock"></i>
                                    </div>

                                    <div class="blacktext">
                                        1/10/2024
                                    </div>

                                </div>
                            </td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="blacktext">Check tin nhắn điện thoại</td>
                            <td>
                                <div class="d-flex justify-content-center gap-2">

                                    <div style="font-size: 1.2em;">
                                        <i class="fa-regular fa-clock"></i>
                                    </div>

                                    <div class="blacktext">
                                        1/10/2024
                                    </div>

                                </div>
                            </td>
                            <td><input type="checkbox"></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

        <div class="">

            <div class="redtext" style="font-size: 1.4em;"><span>>> </span>liên lạc</div>
            <div class="purpletext mt-3" style="font-size: 1.4em !important;">
                Time : 4:00:00
            </div>

            <div class="d-flex mt-4">

                <div class="col-5">

                    <div class="d-flex">

                        <div class="col-6">

                            <div class="purpletext" style="font-size: 1.4em !important;">Soạn thư: </div>
                            <div class="d-flex align-items-center gap-2 mt-2 ms-4">
                                <div>Online:</div>
                                <div class="pingBoxOnline"></div>
                            </div>
                            <div class="d-flex align-items-center gap-2 mt-2 ms-4">
                                <div>Offline:</div>
                                <div class="pingBoxOffline"></div>
                            </div>

                        </div>

                        <div class="col">

                        </div>

                    </div>

                    <div class="d-flex mt-4">
                        <div class="d-flex align-items-center">
                            <div class="purpletext" style="font-size: 1.4em !important;">Xem trước: </div>
                        </div>

                        <div class="">
                            <div class="xemTrcBg">
                                <div class="xemTrcContent">
                                    <p>Kính gửi anh/chị [Tên sếp]</p>
                                    <p>
                                        Tôi xin gửi đến anh/chị một số ý kiến về tình trạng thời gian
                                        làm việc và lương hiện tại của nhân viên công ty
                                    </p>
                                    <p>
                                        Thời gian làm việc: Tôi nhận thấy rằng các dự án gần đây đang yêu
                                        cầu nhân viên làm việc ngoài giờ thường xuyên hơn so với trước đây.Điều này
                                        ngoài có thể ảnh hưởng đến sự cân bằng về công việc và cuộc sống cá nhân của
                                        nhân viên. Tôi đề nghị công ty xem xét các biện pháp để dảm bảo sự cân bằng này,
                                        như đánh giá lại phân công công việc hoặc cung cấp hỗ trợ thêm cho nhân viên
                                        khi cần thiết
                                    </p>
                                </div>
                            
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-5 d-flex flex-column align-items-center ms-5">

                    <div class="redtext" style="font-size: 1.8em;">bảng điểm bị trừ khi liên lạc</div>

                    <table class="table table-bordered mt-3">
                        <thead class="thead-light">
                            <tr>
                                <th class="labelblacktext" style="background-color: #afd9fb;">Team</th>
                                <th class="labelwhitetext" style="background-color: #45aaf7;">Tên</th>
                                <th class="labelwhitetext" style="background-color: #1e8efc;">Thang điểm trừ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="labelblacktext">Chỉ huy phó</td>
                                <td>
                                    <div>Mỹ Linh (Cs1)</div>
                                    <div>Huyền Tâm (Cs3)</div>
                                    <div>Ngọc Thư (Cs4)</div>
                                </td>
                                <td class="redtext">50 điểm</td>
                            </tr>
                            <tr>
                                <td class="labelblacktext">Chỉ huy trưởng</td>
                                <td>
                                    <div>Hùng Cường</div>
                                </td>
                                <td class="redtext">100 điểm</td>
                            </tr>
                            <tr>
                                <td class="labelblacktext">Thuyền trưởng</td>
                                <td>
                                    <div>Văn Ninh</div>
                                </td>
                                <td class="redtext">150 điểm</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="align-self-start">

                        <div class="redtext">Lưu ý: </div>
                        <div class="blacktext">
                            <div>1. Chỉ được gửi hòm thư khi người nhận đang Online</div>
                            <div>2. Thư sẽ được tiếp nhận trong vòng 4h</div>
                            <div>Sau 4h, người tiếp nhận sẽ bị trừ điểm tương đương</div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>


</div>

@section Scripts
{
    <script src="~/js/Page13.js"></script>
}