
@section Styles
{
    <link href="~/css/Page5.css" rel="stylesheet" />
}

<div class="d-flex b1-background">

    <div class="col-3 ms-4" style="border-right: solid 4px black;">

        <div class="avatar-container mt-5" style="margin-right: 80px;">
            <img src="https://i0.wp.com/umsu.ac.id/berita/wp-content/uploads/2024/03/alasan-mengapa-cristiano-ronaldo-dicoret-dari-timnas-portugal-analisis-mendalam.jpg?resize=700%2C375&ssl=1" alt="Avatar" class="avatar">
        </div>

        <div class="info-box">
            <div class="info-title">2402</div>

            <div class="info-content">
                <span class="blacktext">Tên: </span><span>Nguyễn Thị Yến</span><br />
                <span class="blacktext">Số điểm tích trữ: </span><span>500 điểm</span><br />
                <span class="blacktext">Chức vụ: </span><span class="redtext">Thuỷ thủ</span>
            </div>
        </div>

        <div class="d-flex justify-content-start align-items-center gap-2 mt-3">
            <a href="#">
                <img src="~/image/icon/icon-2.png" style="width: 35px; height: auto;" />
            </a>
            <a href="#">
                <img src="~/image/icon/icon-4.png" style="width: 35px; height: auto;" />
            </a>
            <a href="#">
                <img src="~/image/icon/icon-5.png" style="width: 35px; height: auto;" />
            </a>
            <a href="#">
                <img src="~/image/icon/icon-6.png" style="width: 35px; height: auto;" />
            </a>
            <a href="#">
                <img src="~/image/icon/icon-7.png" style="width: 35px; height: auto;" />
            </a>
        </div>

        <div class="d-flex gap-1 mt-3">
            <div class="redtext">
                Kết quả tuần
            </div>

            <div style="font-size: 1.2em;">
                <i class="fa-regular fa-clock"></i>
            </div>

        </div>

        <div>
            <span class="blacktext">Tổng vé: </span><span>100 vé</span><br />
            <span class="blacktext">Hiệu suất: </span><span>55%</span><br />
            <span class="blacktext">Số tiền: </span><span>10 triệu</span>
        </div>

        <div class="mt-2">
            <div class="redtext">
                KPI tháng
            </div>

            <div>
                Vé >> <span class="blacktext">20000 vé</span>
            </div>
            <div class="d-flex align-items-center gap-1">
                <div class="progress" style="width: 65%; position: relative;">
                    <div class="progress-bar" role="progressbar" style="width: 60%; background-color: #f1c116;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="fw-bold" style="color: #f1c116;">60%</div>
            </div>

            <div class="mt-2">
                Hiệu suất >> <span class="blacktext">55%</span>
            </div>
            <div class="d-flex align-items-center gap-1">
                <div class="progress" style="width: 65%; position: relative;">
                    <div class="progress-bar" role="progressbar" style="width: 39%; background-color: #00bf63;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="fw-bold" style="color: #00bf63;">39%</div>
            </div>

            <div class="mt-2">
                Số tiền >> <span class="blacktext">200 triệu</span>
            </div>
            <div class="d-flex align-items-center gap-1">
                <div class="progress" style="width: 65%; position: relative;">
                    <div class="progress-bar" role="progressbar" style="width: 60%; background-color: #c10000;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="fw-bold" style="color: #c10000">60%</div>
            </div>
        </div>


        <div class="d-flex mt-3" style="width: 90%">
            <div class="d-flex flex-column justify-content-center align-items-center box1">
                <div class="labelblacktext" style="font-size: 0.8em;">Tổng vé đã bán</div>
                <div class="redtext">120 vé</div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center box2">
                <div class="labelblacktext" style="font-size: 0.8em;">Hoa hồng</div>
                <div class="redtext">5.000.000 VND</div>
            </div>
        </div>

        @* <div class="account-box gap-1">
        Tài khoản quản lí <span class="highlight-text">TEAM TỔNG ĐÀI</span>
        </div>  *@
    </div>

   <div class="col" style="max-height: 100vh; overflow-y: auto;">
       
       <div class="d-flex justify-content-around gap-2 mx-5 mt-3">

            <div class="navitem">
                bản đồ <span>kho báu</span>
            </div>

            <div class="navitem">
                Hiệu suất <span>công việc</span>
            </div>

            <div class="navitem">
                kết quả <span>thi đua</span>
            </div>

            <div class="navitem">
                Nhiện vụ và<span>liên lạc</span>
            </div>

            <div class="navitem">
                Tin tức <span>nội bộ</span>
            </div>

            <div class="navitem">
                Tranning
            </div>

            <div class="navitem">
                Bảng <span>thành tích</span>
            </div>

       </div>

       <div class="d-flex mt-4 mx-2">

           <div class="col-4">

              <div class="d-flex">
                  <div class="redtext">Top 10 kết quả đặt vé cao nhất</div>
                  <div style="font-size: 1.2em;">
                     <i class="fa-regular fa-clock"></i>
                  </div>
              </div>

              <div class="d-flex mt-3">

                  <div class="d-flex gap-2">
                      <div class="d-flex justify-content-center align-items-center gap-1">
                            <img src="~/image/Others/vivutoday.jpg" style="width: 30px; height: auto;" />
                            <span>:</span>
                            <div class="teamColorVV"></div>
                      </div>

                        <div class="d-flex justify-content-center align-items-center gap-1">
                            <img src="~/image/Others/goilaco.jpg" style="width: 30px; height: auto;" />
                            <span>:</span>
                            <div class="teamColorGLC"></div>
                        </div>

                        <div class="d-flex justify-content-center align-items-center gap-1">
                            <img src="~/image/Others/techwise1.jpg" style="width: 30px; height: auto;" />
                            <span>:</span>
                            <div class="teamColorTW"></div>
                        </div>
                  </div>

              </div>

                <div class="mt-4" style="font-size: 12px; width: 90%;">
                    <table class="table table-bordered table-striped" style="text-align: center; vertical-align: middle;">
                        <thead>
                            <tr>
                                <th class="labelblacktext">Tên</th>
                                <th class="labelblacktext">Lượng vé</th>
                                <th class="labelblacktext">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="colorVV">lê thị xuân</td>
                                <td>450</td>
                                <td>5.000.000 VND</td>
                            </tr>
                            <tr>
                                <td class="colorGLC">Mai thị cẩm hồng</td>
                                <td>300</td>
                                <td>5.900.000 VND</td>
                            </tr>
                            <tr>
                                <td class="colorTW">Tổng thị tài</td>
                                <td>300</td>
                                <td>5.900.000 VND</td>
                            </tr>
                            <tr>
                                <td class="colorVV">Chế T.Kiều Phương</td>
                                <td>300</td>
                                <td>5.900.000 VND</td>
                            </tr>
                            <tr>
                                <td class="colorGLC">Mai Xuân Thọ</td>
                                <td>300</td>
                                <td>5.900.000 VND</td>
                            </tr>
                            <tr>
                                <td class="colorTW">Trần xuân quỳnh</td>
                                <td>300</td>
                                <td>5.900.000 VND</td>
                            </tr>
                            <tr>
                                <td class="colorVV">tống quế anh</td>
                                <td>300</td>
                                <td>5.900.000 VND</td>
                            </tr>
                            <tr>
                                <td class="colorGLC">đoàn kim thuý</td>
                                <td>300</td>
                                <td>5.900.000 VND</td>
                            </tr>
                            <tr>
                                <td class="colorTW">hoàng nguyệt thảo</td>
                                <td>300</td>
                                <td>5.900.000 VND</td>
                            </tr>
                            <tr>
                                <td class="colorVV">đặng thị mai</td>
                                <td>300</td>
                                <td>5.900.000 VND</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="mt-3" style="font-size: 12px;">
                    <div class="d-flex gap-2 justify-content-start mb-3" style="margin-bottom: 300px;">
                        <div class="redtext">kết quả cá nhân</div>
                        <div style="font-size: 1.2em;">
                            <i class="fa-regular fa-clock"></i>
                        </div>
                    </div>

                    <table class="table table-bordered" style="width: 90%; text-align: center;">
                        <thead>
                            <tr>
                                <th class="labelblacktext" style="background-color: #afd9fb">Ngày</th>
                                <th class="labelwhitetext" style="background-color: #35a1f4">Tuần</th>
                                <th class="labelwhitetext" style="background-color: #0058aa">Tháng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Số vé: 200</td>
                                <td>Số vé: 1.400</td>
                                <td>Số vé: 6.000</td>
                            </tr>
                            <tr>
                                <td>Hiệu suất: 53%</td>
                                <td>Hiệu suất: 53%</td>
                                <td>Hiệu suất: 53%</td>
                            </tr>
                            <tr>
                                <td>Số cuộc gọi nhận: 100</td>
                                <td>Số cuộc gọi nhận: 750</td>
                                <td>Số cuộc gọi nhận: 2.400</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

           </div>

           <div class="col">
               
               <div class="d-flex gap-3">

                    <div>

                        <div class="d-flex gap-2 justify-content-center mb-3">
                            <div class="redtext">công ty</div>
                            <div style="font-size: 1.2em;">
                                <i class="fa-regular fa-clock"></i>
                            </div>
                        </div>

                        <div class="note-box">
                            <div class="note-title">Mục tiêu</div>

                            <div class="note-content">
                                <div class="d-flex flex-column justify-content-center align-items-center mt-3">
                                    <div style="font-weight: bold;" ">Số vé đạt được</div>
                                    <div style="color: #634dff; font-weight: bold;">25.000 vé</div>
                                </div>

                                <div class="progress mt-2" style="width: 65%; position: relative;">
                                    <div class="progress-bar" role="progressbar" style="width: 60%; background-color: ##1964cf;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                <div class="redtext mt-2" style="font-size: 1em !important;">
                                    60% <span style="color: #634dff; font-weight: bold;">>> 20000 vé</span>
                                </div>
                            </div>
                        </div>

                    </div>

                   <div>

                        <div class="d-flex gap-2 justify-content-center mb-3">
                            <div class="redtext">Cơ sở</div>
                            <div style="font-size: 1.2em;">
                                <i class="fa-regular fa-clock"></i>
                            </div>
                        </div>

                        <div class="note-box">
                            <div class="note-title">Mục tiêu</div>

                            <div class="note-content">
                                <div class="d-flex flex-column justify-content-center align-items-center mt-3">
                                    <div style="font-weight: bold;" ">Số vé đạt được</div>
                                    <div style="color: #634dff; font-weight: bold;">25.000 vé</div>
                                </div>

                                <div class="progress mt-2" style="width: 65%; position: relative;">
                                    <div class="progress-bar" role="progressbar" style="width: 60%; background-color: ##1964cf;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                <div class="redtext mt-2" style="font-size: 1em !important;">
                                    60% <span style="color: #634dff; font-weight: bold;">>> 20000 vé</span>
                                </div>
                            </div>
                        </div>

                   </div>

                    <div>

                        <div class="d-flex justify-content-center mt-5">
                            <div class="redtext">Thông báo từ các thuỷ thủ đoàn!</div>
                        </div>

                    </div>

               </div>

               <div class="d-flex justify-content-center mt-4" style="font-size: 12px;">

                    <table class="table table-bordered" style="width: 70%;">
                        <tbody>
                            <tr>
                                <td class="labelblacktext" rowspan="2" style="text-align: center; vertical-align: middle;">Thời gian làm việc</td>
                                <td class="checkin d-flex gap-2 justify-content-center align-items-center blacktext" style="text-align: center; vertical-align: middle;">
                                    <div class="labelblacktext">Check in</div>
                                    <input id="checkInSwitch" class="form-check-input" type="checkbox" role="switch">
                                </td>
                            </tr>
                            <tr>
                                <td class="checkout d-flex gap-2 justify-content-center align-items-center blacktext" style="text-align: center; vertical-align: middle;">
                                    <div class="labelblacktext">Check out</div>
                                    <input id="checkOutSwitch" class="form-check-input" type="checkbox" role="switch">
                                </td>
                            </tr>
                            <tr>
                                <!-- Ô với nội dung được chia thành 3 phần -->
                                <td style="position: relative;">
                                    <div class="d-flex justify-content-between">
                                        <div class="labelblacktext" style="text-align: center;">Công việc riêng</div>
                                        <div class="labelblacktext" style="text-align: center;">2</div>
                                        <div class="me-2 redtext" style="text-align: center;">00:01:00</div>
                                    </div>
                                    <!-- Đường kẻ đỏ -->
                                    <div style="position: absolute; top: 0; bottom: 0; left: 45%; width: 2px; background-color: red;"></div>
                                    <div style="position: absolute; top: 0; bottom: 0; left: 70%; width: 2px; background-color: red;"></div>
                                </td>
                                <td class="checkout d-flex gap-2 justify-content-center align-items-center " style="text-align: center; vertical-align: middle;">
                                    <div class="redtext">03:00</div>
                                    <input id="timeSwitch" class="form-check-input" type="checkbox" role="switch">
                                </td>
                            </tr>
                        </tbody>
                    </table>


               </div>

               <div class="d-flex flex-column align-items-center mt-3">

                    <div class="d-flex gap-2 mb-3" style="width: 70%;">
                        <div class="redtext">hiệu suất tuần của team</div>
                        <div style="font-size: 1.2em;">
                            <i class="fa-regular fa-clock"></i>
                        </div>
                    </div>

                    <table class="table table-bordered" style="width: 70%; text-align: center; font-size: 12px;">
                        <thead>
                            <tr>
                                <th class="labelblacktext" style="background-color: #afd9fb; text-align: center; vertical-align: middle;">Tên</th>
                                <th class="labelwhitetext" style="background-color: #35a1f4;">Hiệu suất cá nhân</th>
                                <th class="labelwhitetext" style="background-color: #0058aa;">Hiệu suất trung bình team</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="labeltext">Thị yến</td>
                                <td class="labeltext">65%</td>
                                <td rowspan="5" style="vertical-align: middle;">
                                    <div class="redtext" style="font-size: 1.8em !important;">55%</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="labeltext">hạ nhiên</td>
                                <td class="labeltext">55%</td>
                            </tr>
                            <tr>
                                <td class="labeltext">quỳnh hoa</td>
                                <td class="labeltext">55%</td>
                            </tr>
                            <tr>
                                <td class="labeltext">thuỳ tiên</td>
                                <td class="labeltext">45%</td>
                            </tr>
                            <tr>
                                <td class="labeltext">xuân quỳnh</td>
                                <td class="labeltext">50%</td>
                            </tr>
                        </tbody>
                    </table>


               </div>

               <div class="d-flex justify-content-center align-items-center gap-4 mt-3">

                    <div>

                        <div class="d-flex align-items-center mb-2">

                            <div class="blacktext text-left" style="width: 100px;">Thuỳ Tiên</div>
                            <div class="progress mx-2" style="width: 100px; position: relative;">
                                <div class="progress-bar" role="progressbar" style="width: 60%; height: 100px !important; background-color: #5f8c42;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="blacktext" style="width: 50px;">30 vé</div>

                        </div>

                        <div class="d-flex align-items-center mb-2">

                            <div class="blacktext text-left" style="width: 100px;">Xuân Quỳnh</div>
                            <div class="progress mx-2" style="width: 100px; position: relative;">
                                <div class="progress-bar" role="progressbar" style="width: 60%; background-color: #c5e071;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="blacktext" style="width: 100px;">50 vé</div>

                        </div>

                        <div class="d-flex align-items-center mb-2" style="width: 250px;">

                            <div class="blacktext text-left" style="width: 100px;">Quỳnh Hoa</div>
                            <div class="progress mx-2" style="width: 100px; position: relative;">
                                <div class="progress-bar" role="progressbar" style="width: 60%; background-color: #fbce40;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="blacktext text-right">70 vé</div>

                        </div>

                        <div class="d-flex align-items-center mb-2">

                            <div class="blacktext text-left" style="width: 100px;">Hạ Nhiên</div>
                            <div class="progress mx-2" style="width: 100px; position: relative;">
                                <div class="progress-bar" role="progressbar" style="width: 60%; height: 100px !important; background-color: #f64138;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="blacktext" style="width: 50px;">90 vé</div>

                        </div>

                        <div class="d-flex align-items-center mb-2">

                            <div class="blacktext text-left" style="width: 100px;">Thị Yến</div>
                            <div class="progress mx-2" style="width: 100px; position: relative;">
                                <div class="progress-bar" role="progressbar" style="width: 60%; height: 100px !important; background-color: #8fccf2;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="blacktext" style="width: 100px;">1300 vé</div>

                        </div>

                    </div>

                    <div>
                        <div class="equalSign mb-3"></div>
                        <div class="equalSign"></div>
                    </div>

                    <div class="circle mb-3" style="background-color: #5271ff !important;">
                        <div class="bluetext">360 vé</div>
                    </div>

               </div>

           </div>

       </div>

   </div>

</div>

@section Scripts
{
    <script src="~/js/Page5.js"></script>
}