
@section Styles
{
    <link href="~/css/Page7.css" rel="stylesheet" />
}

<div class="d-flex b1-background">

    <div class="col-2 ms-4" style="border-right: solid 4px black;">

        <div class="avatar-container mt-5" style="margin-right: 80px;">
            <img src="https://i0.wp.com/umsu.ac.id/berita/wp-content/uploads/2024/03/alasan-mengapa-cristiano-ronaldo-dicoret-dari-timnas-portugal-analisis-mendalam.jpg?resize=700%2C375&ssl=1" alt="Avatar" class="avatar">
        </div>

        <div class="info-box">
            <div class="info-title">2404</div>

            <div class="info-content">
                <span class="blacktext">Tên: </span><span>Trần Thị Ngọc Hương</span><br/>
                <span class="blacktext">Số điểm tích trữ: </span><span>500 điểm</span><br />
                <span class="blacktext">Chức vụ: </span><span class="redtext">Pháo thủ</span>
            </div>
        </div>

        <div class="d-flex justify-content-start align-items-center gap-2 mt-3">
            <a href="#">
                <img src="~/image/icon/icon-2.png" style="width: 35px; height: auto;" />
            </a>
            <a href="#">
                <img src="~/image/icon/icon-4.png" style="width: 35px; height: auto;" />
            </a>
            <a href="#">
                <img src="~/image/icon/icon-5.png" style="width: 35px; height: auto;" />
            </a>
            <a href="#">
                <img src="~/image/icon/icon-6.png" style="width: 35px; height: auto;" />
            </a>
            <a href="#">
                <img src="~/image/icon/icon-7.png" style="width: 35px; height: auto;" />
            </a>
        </div>

        <div class="d-flex gap-1 mt-3">
            <div class="redtext">
                Kết quả tuần
            </div>

            <div style="font-size: 1.2em;">
                <i class="fa-regular fa-clock"></i>
            </div>

        </div>

        <div>
            <span class="blacktext">Tổng vé: </span><span>100 vé</span><br />
            <span class="blacktext">Hiệu suất: </span><span>55%</span><br />
            <span class="blacktext">Số tiền: </span><span>10 triệu</span>
        </div>

        <div class="mt-2">
            <div class="redtext">
                KPI tháng
            </div>

            <div>
                Bài viết mới >> <span class="blacktext">500 bài</span>
            </div>
            <div class="d-flex align-items-center gap-1">
                <div class="progress" style="width: 65%; position: relative;">
                    <div class="progress-bar" role="progressbar" style="width: 60%; background-color: #f1c116;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="fw-bold" style="color: #f1c116;">60%</div>
            </div>

            <div class="mt-2">
                Bài viết Audit > <span class="blacktext">500 bài</span>
            </div>
            <div class="d-flex align-items-center gap-1">
                <div class="progress" style="width: 65%; position: relative;">
                    <div class="progress-bar" role="progressbar" style="width: 39%; background-color: #00bf63;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="fw-bold" style="color: #00bf63;">39%</div>
            </div>

            <div class="mt-2">
                Số bài viết đạt top 5 >> <span class="blacktext">50 Bài</span>
            </div>
            <div class="d-flex align-items-center gap-1">
                <div class="progress" style="width: 65%; position: relative;">
                    <div class="progress-bar" role="progressbar" style="width: 60%; background-color: #c10000;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="fw-bold" style="color: #c10000">60%</div>
            </div>

        </div>

    </div>

   <div class="col" style="max-height: 100vh; overflow-y: auto;">
       
       <div class="d-flex justify-content-around gap-2 mx-5 mt-3" style="height: 50px;">

            <div class="navitem">
                bản đồ <span>kho báu</span>
            </div>

            <div class="navitem">
                Hiệu suất <span>công việc</span>
            </div>

            <div class="navitem">
                kết quả <span>thi đua</span>
            </div>

            <div class="navitem">
                Nhiện vụ và<span>liên lạc</span>
            </div>

            <div class="navitem">
                Tin tức <span>nội bộ</span>
            </div>

            <div class="navitem">
                Tranning
            </div>

            <div class="navitem">
                Bảng <span>thành tích</span>
            </div>

       </div>

       <div class="mt-4 mx-4">

           <div class="d-flex align-items-center gap-2">

                <div class="labelblacktext underline-text">dự án</div>
                <div class="labelwhitetext vivubox">
                    vivutoday
                </div>

           </div>

            <div class="d-flex gap-1 mt-3">
                <div class="redtext">
                    Theo dõi tiến độ team/ tuần
                </div>

                <div style="font-size: 1.2em;">
                    <i class="fa-regular fa-clock"></i>
                </div>

            </div>

            <table class="table table-bordered mt-3" style="text-align: center; vertical-align: middle;width: 50%; font-size: 0.9em;">
                <thead>
                    <tr>
                        <th class="labelblacktext" style="background-color: #afd9fb;">Hạng mục</th>
                        <th class="labelwhitetext" style="background-color: #35a1f4;">Số lượng</th>
                        <th class="labelwhitetext" style="background-color: #002c5c;">Tiến Độ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="labelblacktext">Số lượng bài đã viết</td>
                        <td>300</td>
                        <td class="progressTD d-flex justify-content-center">
                            <div class="d-flex align-items-center gap-1" style="width: 200px !important; max-width: 100%;">
                                <div class="progress" style="width: 100%; position: relative;">
                                    <div class="progress-bar" role="progressbar" style="width: 60%; background-color: #f1c116;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="fw-bold ms-2" style="color: #f1c116;">60%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="labelblacktext">Số lượng bài đã đăng</td>
                        <td>150</td>
                        <td class="progressTD d-flex justify-content-center">
                            <div class="d-flex align-items-center gap-1" style="width: 200px !important; max-width: 100%;">
                                <div class="progress" style="width: 100%; position: relative;">
                                    <div class="progress-bar" role="progressbar" style="width: 60%; background-color: #f1c116;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="fw-bold ms-2" style="color: #f1c116;">60%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="labelblacktext">Số bài viết đạt top 5</td>
                        <td>25</td>
                        <td class="progressTD d-flex justify-content-center">
                            <div class="d-flex align-items-center gap-1" style="width: 200px !important; max-width: 100%;">
                                <div class="progress" style="width: 100%; position: relative;">
                                    <div class="progress-bar" role="progressbar" style="width: 60%; background-color: #f1c116;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="fw-bold ms-2" style="color: #f1c116;">60%</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex gap-1 mt-4">
                <div class="redtext">
                    Hiệu suất công việc các thành viên/ tuần
                </div>

                <div style="font-size: 1.2em;">
                    <i class="fa-regular fa-clock"></i>
                </div>

            </div>

            <table class="table table-bordered mt-3" style="text-align: center; vertical-align: middle;width: 85%; font-size: 0.9em;">
                <thead class="thead-dark">
                    <tr>
                        <th class="labelblacktext" style="background-color: #8bb7f0; width: 150px;">Tên</th>
                        <th class="labelwhitetext" style="background-color: #45aaf7;">Mục tiêu tuần</th>
                        <th class="labelwhitetext" style="background-color: #45aaf7; width: 150px;">Số lượng bài viết đã viết</th>
                        <th class="labelwhitetext" style="background-color: #1e8efc;">Tiến độ</th>
                        <th class="labelwhitetext" style="background-color: #00669b;">Bài đạt top 1 - 5</th>
                        <th class="labelwhitetext" style="background-color: #004aad;">Bài đạt top 5 - 10</th>
                        <th class="labelwhitetext" style="background-color: #002f42;">Bài đạt top 11 -></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nguyễn Văn A</td>
                        <td>10</td>
                        <td>8</td>
                        <td>
                            <div class="d-flex align-items-center gap-1" style="width: 120px !important; max-width: 100%;">
                                <div class="progress" style="width: 100%; position: relative;">
                                    <div class="progress-bar" role="progressbar" style="width: 60%; background-color: #f1c116;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="fw-bold ms-2" style="color: #f1c116;">60%</div>
                            </div>
                        </td>
                        <td>2</td>
                        <td>3</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Trần Thị B</td>
                        <td>12</td>
                        <td>9</td>
                        <td>
                            <div class="d-flex align-items-center gap-1" style="width: 120px !important; max-width: 100%;">
                                <div class="progress" style="width: 100%; position: relative;">
                                    <div class="progress-bar" role="progressbar" style="width: 60%; background-color: #f1c116;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="fw-bold ms-2" style="color: #f1c116;">60%</div>
                            </div>
                        </td>
                        <td>4</td>
                        <td>3</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Lê Văn C</td>
                        <td>8</td>
                        <td>7</td>
                        <td>
                            <div class="d-flex align-items-center gap-1" style="width: 120px !important; max-width: 100%;">
                                <div class="progress" style="width: 100%; position: relative;">
                                    <div class="progress-bar" role="progressbar" style="width: 60%; background-color: #f1c116;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="fw-bold ms-2" style="color: #f1c116;">60%</div>
                            </div>
                        </td>
                        <td>1</td>
                        <td>2</td>
                        <td>4</td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex gap-1 mt-3">
                <div class="redtext">
                    Theo dõi tiến độ traffic + content từng dự án/ tháng
                </div>

                <div style="font-size: 1.2em;">
                    <i class="fa-regular fa-clock"></i>
                </div>

            </div>

            <table class="table table-bordered mt-3" style="text-align: center; vertical-align: middle; font-size: 0.9em;">
                <thead class="thead-dark">
                    <tr>
                        <th class="labelblacktext" style="background-color: #00bf63; width: 150px;">Dự án</th>
                        <th class="labelwhitetext" style="background-color: #45aaf7;">Mục tiêu dự án</th>
                        <th class="labelwhitetext" style="background-color: #45aaf7;">Bài chưa đăng</th>
                        <th class="labelwhitetext" style="background-color: #45aaf7;">Tiến độ</th>
                        <th class="labelwhitetext" style="background-color: #45aaf7;">Bài đã đăng</th>
                        <th class="labelwhitetext" style="background-color: #45aaf7;">Bài top 1 - 5</th>
                        <th class="labelwhitetext" style="background-color: #45aaf7;">Bài top 5 - 10</th>
                        <th class="labelwhitetext" style="background-color: #45aaf7;">Bài top 11 -></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Vivutoday</td>
                        <td>100</td>
                        <td>50</td>
                        <td>150</td>
                        <td>
                            <div class="d-flex align-items-center gap-1" style="width: 120px !important; max-width: 100%;">
                                <div class="progress" style="width: 100%; position: relative;">
                                    <div class="progress-bar" role="progressbar" style="width: 60%; background-color: #f1c116;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="fw-bold ms-2" style="color: #f1c116;">60%</div>
                            </div>
                        </td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>CSKH.ORG.VN</td>
                        <td>100</td>
                        <td>50</td>
                        <td>150</td>
                        <td>
                            <div class="d-flex align-items-center gap-1" style="width: 120px !important; max-width: 100%;">
                                <div class="progress" style="width: 100%; position: relative;">
                                    <div class="progress-bar" role="progressbar" style="width: 60%; background-color: #f1c116;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="fw-bold ms-2" style="color: #f1c116;">60%</div>
                            </div>
                        </td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>IVexe</td>
                        <td>100</td>
                        <td>50</td>
                        <td>150</td>
                        <td>
                            <div class="d-flex align-items-center gap-1" style="width: 120px !important; max-width: 100%;">
                                <div class="progress" style="width: 100%; position: relative;">
                                    <div class="progress-bar" role="progressbar" style="width: 60%; background-color: #f1c116;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="fw-bold ms-2" style="color: #f1c116;">60%</div>
                            </div>
                        </td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                    </tr>
                </tbody>
            </table>

       </div>

   </div>

</div>

@section Scripts
{
    <script src="~/js/Page7.js"></script>
}